<div class="nested-fields form-group">
  <div class="form-group">
    <%= f.association :user, collection: User.user_collection(@task, f.object.user_id), label_method: :email, value_method: :id, prompt: "Select a user", input_html: {class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :hours %>
    <%= f.text_field :hours, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= link_to_remove_association "Remove", f, class: "btn btn-danger" %>
  </div>
</div>
