@function randomizeColor(){
  $color: (
    octal: (
      red: random(120) + 35,
      green: random(120) + 30,
      blue: random(120) + 55
    )
  );
  @return $color;
}

@function color($base, $component) {
  $color: randomizeColor();
  @return map-get(map-get($color, $base), $component);
}

@function getRandomColor() {
  @return rgb(color(octal, red), color(octal, green), color(octal, blue));
}
