@import "random-colors";

.user-chart {
  margin-bottom: 40px;
}

.chart {
  height: 40px;
  background-color: #F3F3F3;
}

.bar {
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  color: #000;
  border: 1px solid #E0E0E0;
  border-right: none;
  cursor: pointer;
}

.bar:last-child {
  border-right: 1px solid #E0E0E0;
}

@for $i from 1 through 40 {
  .bar-#{$i} {
    width: 2.5% * $i;
    background: getRandomColor();
  }
}
